In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [7]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_data,index = labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [13]:
#### you can pass a buit in function to pandas to store it
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [14]:
series1=pd.Series([1,2,3,4],['USA','GERMANY','USSR','JAPAN'])

In [15]:
series1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [16]:
series2=pd.Series([1,2,5,4],['USA','GERMANY','ITALY','JAPAN'])

In [17]:
series2

USA        1
GERMANY    2
ITALY      5
JAPAN      4
dtype: int64

In [18]:
series1['USA']

1

In [19]:
series3=pd.Series(data=labels)

In [20]:
series3

0    a
1    b
2    c
dtype: object

In [24]:
series3[0]

'a'

### note pandas and numpy will always convert stuff to float (keep it in mind)

In [23]:
series1+series2
# if it didnt find matches it will return null value for those
# when you performing operations with pandas serries your integer are going to be converted to floats

GERMANY    4.0
ITALY      NaN
JAPAN      8.0
USA        2.0
USSR       NaN
dtype: float64