In [6]:
var1="samantha"
var2="+612336598"
print("my name is {} and my number is {}".format(var1,var2))

my name is samantha and my number is +612336598

In [8]:
print("my name is {name} and my number is {number}".format(name=var1,number=var2))

my name is samantha and my number is +612336598

In [10]:
m_list=['a','b','c']

In [11]:
m_list.append('d')

In [12]:
m_list

['a', 'b', 'c', 'd']

In [13]:
m_dictionary={'key1':'value','mobina':'feyzi'}

In [ ]:
m_dictionary['mobina']

##### tuples are immutable (do not support item assignment)
m_tuple[2] =5 ==>> does not work

In [16]:
m_tuple=(1,2,3)

##### set is a collection of unique elements

In [17]:
{1,1,1,1,2,2}

{1, 2}

In [18]:
set({1,1,1,2,2})

{1, 2}

##### list comprehension
it is kind of for loop but backwards

In [1]:
[num**2 for num in [1,2,3,4]]

[1, 4, 9, 16]

##### functions

In [14]:
def m_func(name = 'default name'):
    """"
    multiple lines comment
    """
    print('hello '+name)

In [15]:
m_func('mobina')

hello mobina

#### quick access to documentation ==>> tab+shift

In [31]:
def times2(var):
    return var*2

#lambda expression(anonymous function) for this function
t=lambda var:var*2
t(6)

12

In [37]:
seq=[1,2,3,4,5]
#this will map each item of seq to the new list by using map function and pass the operator function to it
list(map(times2,seq))
list(map(lambda num:num**3,seq))

[1, 8, 27, 64, 125]

#### filter must use a function or lambda expression that returns true or false value.

In [35]:
list(filter(lambda num:num%2 == 0,seq))

[2, 4]

##### tuple unpacking

In [41]:
x=[(1,2),(3,4),(5,6)]
for a,b in x:
    print(a)

1
3
5